@charset "UTF-8";
/*
    Palhetas de cores
-------------------------
    azul 
    azul fraco 
    lilas 
    vermelho 
    laranja #DB785C
*/
:root{
    --color1: #45658F ;
    --color2: #5286da;
    --color3: #BE67DB;
    --color4: #B35035;
    --color5: #DB785C;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #9818c2;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    margin: auto;
    margin-top: 40px;
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 20px;
}
img{
    width: 300px;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}
h1{
    text-align: center;
}
#mensagem > h1{
    padding-top: 10px;
    padding-bottom: 5px;
}
#mensagem > p{
    margin: auto;
    padding: 10px;
    font-size: 1em;
    text-decoration: none;
}
#form_email, #form_senha{
   text-decoration: none;
   border: none;
   border-bottom: 2px solid purple; 
   width: 200px;
   margin: auto;
   cursor: text;
}
#form_submit{
    text-align: center;
}
#form_submit > input{
    text-align: center;
    margin-top: 10px;
    padding: 5px 80px 5px 80px;
    background-color: rgb(25, 112, 25);
    border: none;
    border-radius: 10px;
}
#form_email > input, #form_senha > input{
    text-decoration: none;
    border: none; 
    outline: none;
    text-align: center;
} 
input:focus{
    text-decoration: none;
}
#esqueceu, a{
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
    color: black;
}
#esqueceu a:hover{
    text-decoration: underline;
    color: blue;
}
@media screen and (min-width: 330px) {
    body{
        background-image: linear-gradient( 0deg, var(--color3), var(--color2));
        background-repeat: no-repeat;
        height: 100vh;
    }

}